.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .header-container {
        height: 30rem;
        max-width: 80%;
        margin-top: 2rem;
        grid-area: sectiona;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 10% 60% 5%;
        column-gap: 1rem;
        grid-gap: 1rem;
        justify-items: center;

        background-color: grey;
        border-radius: 5px;
        border: 2px solid #7bbda6;
        // padding: 1rem;
        margin-bottom: 2rem;

        grid-template-areas: 
            ". header ."
            ". image ."
            ". button .";

        .item-a {
            grid-area: header;
        }
        .item-b {
            grid-area: image;
            object-fit: cover;
        }
        .item-c {
            grid-area: button;
        }

    }
   

    .main-container {
        grid-area: sectionb;
        display: flex;
        width: 80%;
        
        justify-content: space-evenly;
        margin-bottom: 2rem;

        .item {
                width: 45%;
                background-color: grey;
                border-radius: 5px;
                border: 2px solid #7bbda6;
                text-align: center;
                padding: 1rem;
        }
    }

    a {
        color: white;
    }
    p {
        color: white;
    }
}

.close {
    font-size: 3rem;
}
.close :hover {
    transform: 1.5;
}
